<p>Audio Streaming</p>

<object data="/HTTPAudio" style="text-align: center;" width="100%" height="60px">
	<embed src="/HTTPAudio" style="text-align: center;" width="100%" height="60px"></embed>
</object>

<p>Remote Controls</p>

<object data="/?ActionPage=RemoteControls" style="text-align: center;" width="100%" height="60px">
	<embed src="/?ActionPage=RemoteControls" style="text-align: center;" width="100%" height="60px"></embed>
</object>

<!-- <object data="/?ActionPage=PlayPauseSong" style="text-align: center;" width="100%" height="60px">
	<embed src="/?ActionPage=PlayPauseSong" style="text-align: center;" width="100%" height="60px"></embed>
</object>

<object data="/?ActionPage=SkipSongs" style="text-align: center;" width="100%" height="60px">
	<embed src="/?ActionPage=SkipSongs" style="text-align: center;" width="100%" height="60px"></embed>
</object> -->

<p>Configuration Manager</p>

<object data="/?ActionPage=ConfigManager" style="text-align: center;" width="100%" height="60px">
	<embed src="/?ActionPage=ConfigManager" style="text-align: center;" width="100%" height="60px"></embed>
</object>