{
	"Alternative Frequencies": [],
	"Cutoff Frequency": "",
	"Frequency": "108.0",
	"Frequency Deviation": "",
	"GPIO Pin": "",
	"GPIO Power": "7",
	"Oscillator Errors": "",
	"Output MPX Power": "40",
	"PI-Code": "1055",
	"Preemph": "eu",
	"Program Service Name": "PTTRADIO",
	"Program Type": "15",
	"Radio Text from song info": ["Title"],
	"Static Radio Text": "Pattor Radio",
	"Traffic information carried": ""
}
